<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% x = task.completed ? "[x]" : "[ ]" %>
    <li>
      <%= x %> <%= link_to task.title, task_path(task) %>
      <%= link_to "Delete", destroy_path(task), method: :delete, data: { confirm: "Are you sure you want to delete #{task.title}? You can't redo this action."} %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path %>
