<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% x = task.completed ? "âœ…" : "âŽ" %>
    <li>
      <%= x %> <%= link_to task.title, task_path(task) %>
      <%= link_to "| ðŸ—‘",
      task_path(task),
      method: :delete,
      data: { confirm: "Are you sure you want to delete #{task.title}? This is a permanent action."} %>
    </li>
  <% end %>
</ul>

<%= link_to "âž• Add a new task", new_task_path %>
